.container{
    max-width: 400px;
    background-color: wheat;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.display{
    height: 40px;
    line-height: 1.5;
    background-color: rgb(64, 9, 9);
    font-size: 26px;
    color: whitesmoke;
    padding: 25px 15px;
    text-align: right;
}

.btn{
    text-align: center;
    border: 2px solid rgb(64, 9, 9);
    font-size: 20px;
    cursor: pointer;
    line-height: 2.5;
    font-weight: bolder;
}

.btn:hover{
    color: white;
    background-color:  rgb(64, 9, 9);
}

