.grandParent{
    height: 400px;
    width: 400px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    height: 250px;
    width: 250px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    height:150px;
    width: 150px;
    background-color: rgb(255, 0, 191);
    display: flex;
    justify-content: center;
    align-items: center;
}